.menu-burger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    height: 3px;
    background-color: var(--blue3);
  }

  &__line {
    height: 3px;
    background-color: var(--blue3);
  }
}