.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 15px 48px;
  color: #fff;
  border-radius: 10px;
  background-color: var(--blue4);
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  cursor: pointer;
  border: none;
}