.about {
  position: relative;
  padding: 189px 0 190px 0;
  background: linear-gradient(
    0deg,
    #e6ecf3 0.84%,
    #98c3e800 31.12%
  );

  @media (max-width: 1023px) {
    padding: 189px 0 140px 0;
    background: #fff;
  }

  @media (max-width: 479px) {
    padding: 149px 0 140px 0;
  }

  &__illustration {
    position: absolute;
    top: 112px;
    right: 0;

    @media (min-width: 1920px) {
      right: 12%;
    }

    @media (max-width: 1199px) {
      opacity: 0.5;
    }

    @media (max-width: 767px) {
      opacity: 0.3;
    }
  }
}
