.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__container {
    box-sizing: content-box;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 72px;
    margin: auto;
    padding: 0 20px;

    @media (max-width: 1200px) {
      max-width: 940px;
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }
}

.logo {
  position: relative;
  display: block;
  width: 48px;
  height: 32px;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu-burger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    height: 3px;
    background-color: var(--blue3);
  }

  &__line {
    height: 3px;
    background-color: var(--blue3);
  }
}
